<%- include('../port/layout-start', {title: title}) %>

        <h1>
            <%= title %>   (<%= book_cnt %>)
        </h1>

        <div class="row">
            <div class="col-sm-8">
                <div >
                    <div class="card-body">

                        <h5 class="card-title">
                            <%= book.title %>
                        </h5>
                        <p class="card-text">
                            <%= book.description %>
                        </p>
                        <p class="card-text">
                            <%= book.authors %>
                        </p>
                        <p class="card-text">
                            <%= book.fileName %>
                        </p>
                        <p class="card-text">
                            <input class="form-check-input" type="checkbox" value="" id="book_favorite" 
                            <%= book.favorite ? 'checked':'' %> disabled >
                            <label class="form-check-label" for="book_favorite">
                                favorite
                              </label>
                        </p>

                        <div class="text-right">
                            <a class="btn btn-sm btn-primary" href="/books/update/<%= book.id %>">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <form action="/books/delete/<%= book.id %>" method="POST" class="d-inline">
                                <button class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
              <%- include('../port/chat', {roomId: book.id}) %>
            </div>
          </div>
        <%- include('../port/layout-end') %>